## SQL

### Public Data

* https://data.census.gov/
* https://healthdata.gov/
* Edgar: https://www.sec.gov/edgar
* Bureau of Justice: https://bjs.ojp.gov/
* IRS: https://www.irs.gov/statistics
* Bureau of Economic Analysis: https://www.bea.gov/
* Federal Reserve: https://www.federalreserve.gov/data.htm
* DOE Data and Research: https://www2.ed.gov/rschstat/landing.jhtml?src=ft
* Bureau of Labor Statistics: https://www.bls.gov/
* US Patent and Trademark Office: https://www.uspto.gov/
* National Centers for Environmental Information: https://www.ncei.noaa.gov/
* World Bank: https://data.worldbank.org/
* CIA World Factbook: https://www.cia.gov/the-world-factbook/
* United Nations: https://data.un.org/
* UNICEF: https://data.unicef.org/
* Statistics Canada: https://www.statcan.gc.ca/
* Eurostat: https://ec.europa.eu/eurostat
* Organization for Economic Cooperation and Development: https://data.oecd.org/
* UK National Health Service NHS Digital: https://digital.nhs.uk/
* Google Finance: https://www.google.com/finance/
* Google Trends: https://trends.google.com/trends/
* Google Public Data Explorer: https://www.google.com/publicdata/directory
* Amazon Web Services Public Data: https://registry.opendata.aws/
* Data.gov: https://data.gov/
* Google Ngram Viewer: https://books.google.com/ngrams/
* The Corpus of Contemporary American English: https://www.english-corpora.org/coca/
* University of California, Irvine, Center for Machine Learning: https://archive.ics.uci.edu/
* Pew Research Center: https://www.pewresearch.org/
* https://www.linkedin.com/learning/learning-public-data-sets-2/bureau-of-labor-statistics?resume=false&u=74650474

### BigQuery

* https://console.cloud.google.com/marketplace/product/google/bigquery.googleapis.com?_ga=2.211298837.1868925152.1707340152-1299486709.1704991752&project=studynotes-prod&returnUrl=%2Fbigquery%3F_ga%3D2.211298837.1868925152.1707340152-1299486709.1704991752%26project%3Dstudynotes-prod

<pre>
SELECT
  *
FROM
  `bigquery-public-data.usa_names.usa_1910_current`
LIMIT 100
</pre>

<pre>
SELECT
  *
FROM
  `bigquery-public-data.usa_names.usa_1910_current`
WHERE
  state = 'TX'
LIMIT 100
</pre>

<pre>
SELECT
  MIN(year), MAX(year)
FROM
  `bigquery-public-data.usa_names.usa_1910_current`
</pre>

<pre>
SELECT
  name, COUNT(name) as cnt
FROM
  `bigquery-public-data.usa_names.usa_1910_current`
GROUP BY name
ORDER BY cnt DESC
LIMIT 1
</pre>

<pre>
SELECT
  *
FROM
  `bigquery-public-data.usa_names.usa_1910_current`
WHERE
  state = 'TX'
AND
  year = 2020
LIMIT 100
</pre>

Public Datasets

* Add
* Search for public datasets
* Search of World Bank

World Bank
* https://databank.worldbank.org/metadataglossary/jobs/series/SI.POV.GINI

<pre>

SELECT acs.geo_id, acs.total_pop, fips.state_name
FROM
`bigquery-public-data.census_bureau_acs.state_2010_1yr` as acs,
`bigquery-public-data.census_utility.fips_codes_states` as fips
WHERE acs.geo_id = fips.state_fips_code
AND fips.state_name = 'Texas'

</pre>

<pre>
SELECT *
FROM `bigquery-public-data.census_bureau_acs.state_2010_1yr` as acs
INNER JOIN  `bigquery-public-data.census_utility.fips_codes_states` as fips
ON acs.geo_id = fips.state_fips_code
</pre>

### Setting Up Databases

* https://www3.ntu.edu.sg/home/ehchua/programming/sql/SampleDatabases.html
* https://learnsql.com/blog/free-online-datasets-to-practice-sql/
* https://realpython.com/python-sql-libraries/

In [ ]:
import sqlite3
from sqlite3 import Error

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

In [ ]:
connection = create_connection("db.sqlite")

Connection to SQLite DB successful

In [ ]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [ ]:
create_users_table = """
CREATE TABLE IF NOT EXISTS users (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT NOT NULL,
  age INTEGER,
  gender TEXT,
  nationality TEXT
);
"""

create_posts_table = """
CREATE TABLE IF NOT EXISTS posts(
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  title TEXT NOT NULL,
  description TEXT NOT NULL,
  user_id INTEGER NOT NULL,
  FOREIGN KEY (user_id) REFERENCES users (id)
);
"""

create_comments_table = """
CREATE TABLE IF NOT EXISTS comments (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  text TEXT NOT NULL,
  user_id INTEGER NOT NULL,
  post_id INTEGER NOT NULL,
  FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id) REFERENCES posts (id)
);
"""

create_likes_table = """
CREATE TABLE IF NOT EXISTS likes (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  user_id INTEGER NOT NULL,
  post_id integer NOT NULL,
  FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id) REFERENCES posts (id)
);
"""

execute_query(connection, create_users_table)
execute_query(connection, create_posts_table)
execute_query(connection, create_comments_table)
execute_query(connection, create_likes_table)

Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully

### CRUD

In [ ]:
create_users = """
INSERT INTO
  users (name, age, gender, nationality)
VALUES
  ('James', 25, 'male', 'USA'),
  ('Leila', 32, 'female', 'France'),
  ('Brigitte', 35, 'female', 'England'),
  ('Mike', 40, 'male', 'Denmark'),
  ('Elizabeth', 21, 'female', 'Canada');
"""

execute_query(connection, create_users)

Query executed successfully

In [ ]:
create_posts = """
INSERT INTO
  posts (title, description, user_id)
VALUES
  ("Happy", "I am feeling very happy today", 1),
  ("Hot Weather", "The weather is very hot today", 2),
  ("Help", "I need some help with my work", 2),
  ("Great News", "I am getting married", 1),
  ("Interesting Game", "It was a fantastic game of tennis", 5),
  ("Party", "Anyone up for a late-night party today?", 3);
"""

execute_query(connection, create_posts)

Query executed successfully

In [ ]:
create_comments = """
INSERT INTO
  comments (text, user_id, post_id)
VALUES
  ('Count me in', 1, 6),
  ('What sort of help?', 5, 3),
  ('Congrats buddy', 2, 4),
  ('I was rooting for Nadal though', 4, 5),
  ('Help with your thesis?', 2, 3),
  ('Many congratulations', 5, 4);
"""

create_likes = """
INSERT INTO
  likes (user_id, post_id)
VALUES
  (1, 6),
  (2, 3),
  (1, 5),
  (5, 4),
  (2, 4),
  (4, 2),
  (3, 6);
"""

execute_query(connection, create_comments)
execute_query(connection, create_likes)

Query executed successfully
Query executed successfully

In [ ]:
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

In [ ]:
select_users = "SELECT * from users"
users = execute_read_query(connection, select_users)

for user in users:
    print(user)

(1, 'James', 25, 'male', 'USA')
(2, 'Leila', 32, 'female', 'France')
(3, 'Brigitte', 35, 'female', 'England')
(4, 'Mike', 40, 'male', 'Denmark')
(5, 'Elizabeth', 21, 'female', 'Canada')

In [ ]:
select_posts = "SELECT * FROM posts"
posts = execute_read_query(connection, select_posts)

for post in posts:
    print(post)

(1, 'Happy', 'I am feeling very happy today', 1)
(2, 'Hot Weather', 'The weather is very hot today', 2)
(3, 'Help', 'I need some help with my work', 2)
(4, 'Great News', 'I am getting married', 1)
(5, 'Interesting Game', 'It was a fantastic game of tennis', 5)
(6, 'Party', 'Anyone up for a late-night party today?', 3)

In [ ]:
select_users_posts = """
SELECT
  users.id,
  users.name,
  posts.description
FROM
  posts
  INNER JOIN users ON users.id = posts.user_id
"""

users_posts = execute_read_query(connection, select_users_posts)

for users_post in users_posts:
    print(users_post)

(1, 'James', 'I am feeling very happy today')
(2, 'Leila', 'The weather is very hot today')
(2, 'Leila', 'I need some help with my work')
(1, 'James', 'I am getting married')
(5, 'Elizabeth', 'It was a fantastic game of tennis')
(3, 'Brigitte', 'Anyone up for a late-night party today?')

In [ ]:
select_posts_comments_users = """
SELECT
  posts.description as post,
  text as comment,
  name
FROM
  posts
  INNER JOIN comments ON posts.id = comments.post_id
  INNER JOIN users ON users.id = comments.user_id
"""

posts_comments_users = execute_read_query(
    connection, select_posts_comments_users
)

for posts_comments_user in posts_comments_users:
    print(posts_comments_user)

('Anyone up for a late-night party today?', 'Count me in', 'James')
('I need some help with my work', 'What sort of help?', 'Elizabeth')
('I am getting married', 'Congrats buddy', 'Leila')
('It was a fantastic game of tennis', 'I was rooting for Nadal though', 'Mike')
('I need some help with my work', 'Help with your thesis?', 'Leila')
('I am getting married', 'Many congratulations', 'Elizabeth')

In [ ]:
select_post_description = "SELECT description FROM posts WHERE id = 2"

post_description = execute_read_query(connection, select_post_description)

for description in post_description:
    print(description)

('The weather is very hot today',)

In [ ]:
update_post_description = """
UPDATE
  posts
SET
  description = "The weather has become pleasant now"
WHERE
  id = 2
"""

execute_query(connection, update_post_description)

Query executed successfully

In [ ]:
select_post_description = "SELECT description FROM posts WHERE id = 2"

post_description = execute_read_query(connection, select_post_description)

for description in post_description:
    print(description)

('The weather has become pleasant now',)

In [ ]:
select_posts = "SELECT * FROM comments"
posts = execute_read_query(connection, select_posts)

for post in posts:
    print(post)

(1, 'Count me in', 1, 6)
(2, 'What sort of help?', 5, 3)
(3, 'Congrats buddy', 2, 4)
(4, 'I was rooting for Nadal though', 4, 5)
(5, 'Help with your thesis?', 2, 3)
(6, 'Many congratulations', 5, 4)

In [ ]:
delete_comment = "DELETE FROM comments WHERE id = 5"
execute_query(connection, delete_comment)

Query executed successfully

In [ ]:
select_posts = "SELECT * FROM comments"
posts = execute_read_query(connection, select_posts)

for post in posts:
    print(post)

(1, 'Count me in', 1, 6)
(2, 'What sort of help?', 5, 3)
(3, 'Congrats buddy', 2, 4)
(4, 'I was rooting for Nadal though', 4, 5)
(6, 'Many congratulations', 5, 4)

### Aggregate Functions

* Aggregate Functions -  https://www.simplilearn.com/tutorials/sql-tutorial/sql-aggregate-functions

In [ ]:
select_posts = "SELECT MIN(post_id), MAX(user_id) FROM comments"
agg = execute_read_query(connection, select_posts)

agg

[(3, 5)]

### MySQL to SQLite

* Work in Progress
* https://www3.ntu.edu.sg/home/ehchua/programming/sql/SampleDatabases.html
* https://dev.mysql.com/doc/employee/en/employees-installation.html
* https://github.com/datacharmer/test_db

In [ ]:
# load sql and use sqlite as our database
%load_ext sql
%sql sqlite://

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS employees (
    emp_no      INT             NOT NULL,
    birth_date  DATE            NOT NULL,
    first_name  VARCHAR(14)     NOT NULL,
    last_name   VARCHAR(16)     NOT NULL,
    gender      CHAR(4)         NOT NULL,
    hire_date   DATE            NOT NULL,
    PRIMARY KEY (emp_no)
);

CREATE TABLE IF NOT EXISTS departments (
    dept_no     CHAR(4)         NOT NULL,
    dept_name   VARCHAR(40)     NOT NULL,
    PRIMARY KEY (dept_no)
);

CREATE TABLE IF NOT EXISTS dept_manager (
   emp_no       INT             NOT NULL,
   dept_no      CHAR(4)         NOT NULL,
   from_date    DATE            NOT NULL,
   to_date      DATE            NOT NULL,
   FOREIGN KEY (emp_no)  REFERENCES employees (emp_no)    ON DELETE CASCADE,
   FOREIGN KEY (dept_no) REFERENCES departments (dept_no) ON DELETE CASCADE,
   PRIMARY KEY (emp_no,dept_no)
);

CREATE TABLE IF NOT EXISTS dept_emp (
    emp_no      INT             NOT NULL,
    dept_no     CHAR(4)         NOT NULL,
    from_date   DATE            NOT NULL,
    to_date     DATE            NOT NULL,
    FOREIGN KEY (emp_no)  REFERENCES employees   (emp_no)  ON DELETE CASCADE,
    FOREIGN KEY (dept_no) REFERENCES departments (dept_no) ON DELETE CASCADE,
    PRIMARY KEY (emp_no,dept_no)
);

CREATE TABLE IF NOT EXISTS titles (
    emp_no      INT             NOT NULL,
    title       VARCHAR(50)     NOT NULL,
    from_date   DATE            NOT NULL,
    to_date     DATE,
    FOREIGN KEY (emp_no) REFERENCES employees (emp_no) ON DELETE CASCADE,
    PRIMARY KEY (emp_no,title, from_date)
)
;

CREATE TABLE IF NOT EXISTS salaries (
    emp_no      INT             NOT NULL,
    salary      INT             NOT NULL,
    from_date   DATE            NOT NULL,
    to_date     DATE            NOT NULL,
    FOREIGN KEY (emp_no) REFERENCES employees (emp_no) ON DELETE CASCADE,
    PRIMARY KEY (emp_no, from_date)
)
;

CREATE VIEW IF NOT EXISTS dept_emp_latest_date AS
    SELECT emp_no, MAX(from_date) AS from_date, MAX(to_date) AS to_date
    FROM dept_emp
    GROUP BY emp_no;

CREATE VIEW IF NOT EXISTS current_dept_emp AS
    SELECT l.emp_no, dept_no, l.from_date, l.to_date
    FROM dept_emp d
        INNER JOIN dept_emp_latest_date l
        ON d.emp_no=l.emp_no AND d.from_date=l.from_date AND l.to_date = d.to_date;

 * sqlite://
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql
SELECT * FROM sqlite_master;

 * sqlite://
Done.

[('table', 'employees', 'employees', 2, 'CREATE TABLE employees (\n    emp_no      INT             NOT NULL,\n    birth_date  DATE            NOT NULL,\n    first_name  VARCHAR(14)     NOT N ... (13 characters truncated) ... t_name   VARCHAR(16)     NOT NULL,\n    gender      CHAR(4)         NOT NULL,\n    hire_date   DATE            NOT NULL,\n    PRIMARY KEY (emp_no)\n)'),
 ('index', 'sqlite_autoindex_employees_1', 'employees', 3, None),
 ('table', 'departments', 'departments', 4, 'CREATE TABLE departments (\n    dept_no     CHAR(4)         NOT NULL,\n    dept_name   VARCHAR(40)     NOT NULL,\n    PRIMARY KEY (dept_no)\n)'),
 ('index', 'sqlite_autoindex_departments_1', 'departments', 5, None),
 ('table', 'dept_manager', 'dept_manager', 6, 'CREATE TABLE dept_manager (\n   emp_no       INT             NOT NULL,\n   dept_no      CHAR(4)         NOT NULL,\n   from_date    DATE            NO ... (93 characters truncated) ... yees (emp_no)    ON DELETE CASCADE,\n   FOREIGN KEY (dept_no) REFERENCES departments (dept_no) ON DELETE CASCADE,\n   PRIMARY KEY (emp_no,dept_no)\n)'),
 ('index', 'sqlite_autoindex_dept_manager_1', 'dept_manager', 7, None),
 ('table', 'dept_emp', 'dept_emp', 8, 'CREATE TABLE dept_emp (\n    emp_no      INT             NOT NULL,\n    dept_no     CHAR(4)         NOT NULL,\n    from_date   DATE            NOT NU ... (92 characters truncated) ... es   (emp_no)  ON DELETE CASCADE,\n    FOREIGN KEY (dept_no) REFERENCES departments (dept_no) ON DELETE CASCADE,\n    PRIMARY KEY (emp_no,dept_no)\n)'),
 ('index', 'sqlite_autoindex_dept_emp_1', 'dept_emp', 9, None),
 ('table', 'titles', 'titles', 10, 'CREATE TABLE titles (\n    emp_no      INT             NOT NULL,\n    title       VARCHAR(50)     NOT NULL,\n    from_date   DATE            NOT NULL,\n    to_date     DATE,\n    FOREIGN KEY (emp_no) REFERENCES employees (emp_no) ON DELETE CASCADE,\n    PRIMARY KEY (emp_no,title, from_date)\n)'),
 ('index', 'sqlite_autoindex_titles_1', 'titles', 11, None),
 ('table', 'salaries', 'salaries', 12, 'CREATE TABLE salaries (\n    emp_no      INT             NOT NULL,\n    salary      INT             NOT NULL,\n    from_date   DATE            NOT NU ... (12 characters truncated) ... date     DATE            NOT NULL,\n    FOREIGN KEY (emp_no) REFERENCES employees (emp_no) ON DELETE CASCADE,\n    PRIMARY KEY (emp_no, from_date)\n)'),
 ('index', 'sqlite_autoindex_salaries_1', 'salaries', 13, None),
 ('view', 'dept_emp_latest_date', 'dept_emp_latest_date', 0, 'CREATE VIEW dept_emp_latest_date AS\n    SELECT emp_no, MAX(from_date) AS from_date, MAX(to_date) AS to_date\n    FROM dept_emp\n    GROUP BY emp_no'),
 ('view', 'current_dept_emp', 'current_dept_emp', 0, 'CREATE VIEW current_dept_emp AS\n    SELECT l.emp_no, dept_no, l.from_date, l.to_date\n    FROM dept_emp d\n        INNER JOIN dept_emp_latest_date l\n        ON d.emp_no=l.emp_no AND d.from_date=l.from_date AND l.to_date = d.to_date')]

In [ ]:
%%sql
INSERT INTO `employees` VALUES (10001,'1953-09-02','Georgi','Facello','M','1986-06-26'),
(10002,'1964-06-02','Bezalel','Simmel','F','1985-11-21'),
(10003,'1959-12-03','Parto','Bamford','M','1986-08-28'),
(10004,'1954-05-01','Chirstian','Koblick','M','1986-12-01'),
(10005,'1955-01-21','Kyoichi','Maliniak','M','1989-09-12'),
(10006,'1953-04-20','Anneke','Preusig','F','1989-06-02'),
(10007,'1957-05-23','Tzvetan','Zielinski','F','1989-02-10'),
(10008,'1958-02-19','Saniya','Kalloufi','M','1994-09-15'),
(10009,'1952-04-19','Sumant','Peac','F','1985-02-18'),
(10010,'1963-06-01','Duangkaew','Piveteau','F','1989-08-24'),
(10011,'1953-11-07','Mary','Sluis','F','1990-01-22'),
(10012,'1960-10-04','Patricio','Bridgland','M','1992-12-18'),
(10013,'1963-06-07','Eberhardt','Terkki','M','1985-10-20'),
(10014,'1956-02-12','Berni','Genin','M','1987-03-11'),
(10015,'1959-08-19','Guoxiang','Nooteboom','M','1987-07-02'),
(10016,'1961-05-02','Kazuhito','Cappelletti','M','1995-01-27'),
(10017,'1958-07-06','Cristinel','Bouloucos','F','1993-08-03'),
(10018,'1954-06-19','Kazuhide','Peha','F','1987-04-03'),
(10019,'1953-01-23','Lillian','Haddadi','M','1999-04-30'),
(10020,'1952-12-24','Mayuko','Warwick','M','1991-01-26'),
(10021,'1960-02-20','Ramzi','Erde','M','1988-02-10'),
(10022,'1952-07-08','Shahaf','Famili','M','1995-08-22'),
(10023,'1953-09-29','Bojan','Montemayor','F','1989-12-17'),
(10024,'1958-09-05','Suzette','Pettey','F','1997-05-19'),
(10025,'1958-10-31','Prasadram','Heyers','M','1987-08-17'),
(10026,'1953-04-03','Yongqiao','Berztiss','M','1995-03-20'),
(10027,'1962-07-10','Divier','Reistad','F','1989-07-07'),
(10028,'1963-11-26','Domenick','Tempesti','M','1991-10-22'),
(10029,'1956-12-13','Otmar','Herbst','M','1985-11-20'),
(10030,'1958-07-14','Elvis','Demeyer','M','1994-02-17'),
(10031,'1959-01-27','Karsten','Joslin','M','1991-09-01'),
(10032,'1960-08-09','Jeong','Reistad','F','1990-06-20'),
(10033,'1956-11-14','Arif','Merlo','M','1987-03-18'),
(10034,'1962-12-29','Bader','Swan','M','1988-09-21'),
(10035,'1953-02-08','Alain','Chappelet','M','1988-09-05'),
(10036,'1959-08-10','Adamantios','Portugali','M','1992-01-03');

 * sqlite://
36 rows affected.

[]

In [ ]:
%%sql
SELECT * FROM employees;

 * sqlite://
Done.

[(10001, '1953-09-02', 'Georgi', 'Facello', 'M', '1986-06-26'),
 (10002, '1964-06-02', 'Bezalel', 'Simmel', 'F', '1985-11-21'),
 (10003, '1959-12-03', 'Parto', 'Bamford', 'M', '1986-08-28'),
 (10004, '1954-05-01', 'Chirstian', 'Koblick', 'M', '1986-12-01'),
 (10005, '1955-01-21', 'Kyoichi', 'Maliniak', 'M', '1989-09-12'),
 (10006, '1953-04-20', 'Anneke', 'Preusig', 'F', '1989-06-02'),
 (10007, '1957-05-23', 'Tzvetan', 'Zielinski', 'F', '1989-02-10'),
 (10008, '1958-02-19', 'Saniya', 'Kalloufi', 'M', '1994-09-15'),
 (10009, '1952-04-19', 'Sumant', 'Peac', 'F', '1985-02-18'),
 (10010, '1963-06-01', 'Duangkaew', 'Piveteau', 'F', '1989-08-24'),
 (10011, '1953-11-07', 'Mary', 'Sluis', 'F', '1990-01-22'),
 (10012, '1960-10-04', 'Patricio', 'Bridgland', 'M', '1992-12-18'),
 (10013, '1963-06-07', 'Eberhardt', 'Terkki', 'M', '1985-10-20'),
 (10014, '1956-02-12', 'Berni', 'Genin', 'M', '1987-03-11'),
 (10015, '1959-08-19', 'Guoxiang', 'Nooteboom', 'M', '1987-07-02'),
 (10016, '1961-05-02', 'Kazuhito', 'Cappelletti', 'M', '1995-01-27'),
 (10017, '1958-07-06', 'Cristinel', 'Bouloucos', 'F', '1993-08-03'),
 (10018, '1954-06-19', 'Kazuhide', 'Peha', 'F', '1987-04-03'),
 (10019, '1953-01-23', 'Lillian', 'Haddadi', 'M', '1999-04-30'),
 (10020, '1952-12-24', 'Mayuko', 'Warwick', 'M', '1991-01-26'),
 (10021, '1960-02-20', 'Ramzi', 'Erde', 'M', '1988-02-10'),
 (10022, '1952-07-08', 'Shahaf', 'Famili', 'M', '1995-08-22'),
 (10023, '1953-09-29', 'Bojan', 'Montemayor', 'F', '1989-12-17'),
 (10024, '1958-09-05', 'Suzette', 'Pettey', 'F', '1997-05-19'),
 (10025, '1958-10-31', 'Prasadram', 'Heyers', 'M', '1987-08-17'),
 (10026, '1953-04-03', 'Yongqiao', 'Berztiss', 'M', '1995-03-20'),
 (10027, '1962-07-10', 'Divier', 'Reistad', 'F', '1989-07-07'),
 (10028, '1963-11-26', 'Domenick', 'Tempesti', 'M', '1991-10-22'),
 (10029, '1956-12-13', 'Otmar', 'Herbst', 'M', '1985-11-20'),
 (10030, '1958-07-14', 'Elvis', 'Demeyer', 'M', '1994-02-17'),
 (10031, '1959-01-27', 'Karsten', 'Joslin', 'M', '1991-09-01'),
 (10032, '1960-08-09', 'Jeong', 'Reistad', 'F', '1990-06-20'),
 (10033, '1956-11-14', 'Arif', 'Merlo', 'M', '1987-03-18'),
 (10034, '1962-12-29', 'Bader', 'Swan', 'M', '1988-09-21'),
 (10035, '1953-02-08', 'Alain', 'Chappelet', 'M', '1988-09-05'),
 (10036, '1959-08-10', 'Adamantios', 'Portugali', 'M', '1992-01-03')]

Work in progress...

In [ ]:
# # read the sql file https://www.reddit.com/r/dataengineering/comments/pbks3q/read_sql_file_in_jupyter_notebook/
# with open('load_employees.dump', 'r') as query:
#     query_string = query.read()

In [ ]:
# import sqlite3

# connection = sqlite3.connect('employees.db')
# cursor = connection.cursor()

In [ ]:
# # multiline strings in Python can be sorrounded with ''' Multi line text '''
# query = '''
# CREATE TABLE IF NOT EXISTS employees (
#     emp_no      INT             NOT NULL,
#     birth_date  DATE            NOT NULL,
#     first_name  VARCHAR(14)     NOT NULL,
#     last_name   VARCHAR(16)     NOT NULL,
#     gender      CHAR(4)         NOT NULL,
#     hire_date   DATE            NOT NULL,
#     PRIMARY KEY (emp_no)
# );
# '''
# cursor.execute(query)

In [ ]:
# # read the sql file https://www.reddit.com/r/dataengineering/comments/pbks3q/read_sql_file_in_jupyter_notebook/
# with open('<filename>.sql', 'r') as query: # or .dump
#     query_string = query.read()