# Titanic Passengers

Scraped from Wikipedia

* https://www.kaggle.com/code/pavlofesenko/extending-titanic-dataset-using-wikipedia
* https://pandas.pydata.org/docs/reference/api/pandas.read_html.html
* https://pandas.pydata.org/docs/user_guide/io.html#io-read-html
* https://en.wikipedia.org/wiki/Passengers_of_the_Titanic

In [ ]:
# pip install html5lib

In [ ]:
import pandas as pd

first_class = pd.read_html('https://en.wikipedia.org/wiki/Passengers_of_the_Titanic', header=0)[1]
first_class['pclass'] = 1
first_class.columns = first_class.columns.str.strip().str.lower()
print(first_class.shape)
first_class.head()

(326, 8)

,name,age,hometown,boarded,destination,lifeboat,body,pclass
0,"Allen, Miss Elizabeth Walton",29,"St Louis, Missouri, US",Southampton,St Louis,NaN,NaN,1
1,"Allison, Mr. Hudson Creighton",30,"Montreal, Quebec, Canada",Southampton,"Montreal, Quebec, Canada",NaN,135MB,1
2,"and chauffeur, Mr. George Swane[70]",19,NaN,Southampton,"Montreal, Quebec, Canada",NaN,294MB,1
3,"and cook, Miss Amelia Mary ""Mildred"" Brown[70]",18,"London, England, UK",Southampton,"Montreal, Quebec, Canada",11,NaN,1
4,"Allison, Mrs. Bessie Waldo (née Daniels)",25,"Montreal, Quebec, Canada",Southampton,"Montreal, Quebec, Canada",NaN,NaN,1

In [ ]:
second_class = pd.read_html('https://en.wikipedia.org/wiki/Passengers_of_the_Titanic', header=0)[2]
second_class['pclass'] = 2
second_class.columns = second_class.columns.str.strip().str.lower()
print(second_class.shape)
second_class.head()

(278, 8)

,name,age,hometown,boarded,destination,lifeboat,body,pclass
0,"Abelson, Mr. Samuel",30,Russia,Cherbourg,"New York, New York, US",NaN,NaN,2
1,"Abelson, Mrs. Anna (née Wizosky?)",28,Russia,Cherbourg,"New York, New York, US",10,NaN,2
2,"Andrew, Mr. Edgar Samuel",17,"San Ambrosio, Córdoba, Argentina",Southampton,"Trenton, New Jersey, US",NaN,NaN,2
3,"Andrew, Mr. Frank Thomas",30,"Redruth, Cornwall, England",Southampton,"Houghton, Michigan, US",NaN,NaN,2
4,"Angle, Mr. William A.",32,"Warwick, Warwickshire, England",Southampton,New York City,NaN,NaN,2

In [ ]:
third_class = pd.read_html('https://en.wikipedia.org/wiki/Passengers_of_the_Titanic', header=0)[3]
third_class['pclass'] = 3
third_class.columns = third_class.columns.str.strip().str.lower()
print(third_class.shape)
third_class.head()

(708, 9)

,name,age,hometown,home country,boarded,destination,lifeboat,body,pclass
0,"Abbing, Mr. Anthony",40,"Cincinnati, Ohio",US,Southampton,"Cincinnati, Ohio, US",NaN,NaN,3
1,"Abbott, Mrs. Rhoda Mary (née Hunt)",39,"East Providence, Rhode Island",US,Southampton,"East Providence, Rhode Island, US",A,NaN,3
2,"Abbott, Mr. Rossmore Edward",16,"East Providence, Rhode Island",US,Southampton,"East Providence, Rhode Island, US",NaN,190MB,3
3,"Abbott, Mr. Eugene Joseph",14,"East Providence, Rhode Island",US,Southampton,"East Providence, Rhode Island, US",NaN,NaN,3
4,"Abd al-Khaliq, Mr. Farid Qasim Husayn",18,Shana,Syria,Cherbourg,New York City,NaN,NaN,3

## Concat

In [ ]:
passengers = pd.concat([first_class, second_class, third_class], ignore_index=True)
print(passengers.shape)
print(passengers.info())
passengers.sample(5)

(1312, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1312 entries, 0 to 1311
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          1296 non-null   object
 1   age           1312 non-null   object
 2   hometown      1272 non-null   object
 3   boarded       1309 non-null   object
 4   destination   1311 non-null   object
 5   lifeboat      502 non-null    object
 6   body          133 non-null    object
 7   pclass        1312 non-null   int64
 8   home country  708 non-null    object
dtypes: int64(1), object(8)
memory usage: 92.4+ KB
None

,name,age,hometown,boarded,destination,lifeboat,body,pclass,home country
1120,"Pedersen, Mr. Olaf",28,Sandefjord,Southampton,"Seattle, Washington, US",NaN,NaN,3,Norway
609,"Abelseth, Miss Karen Marie",16,Sunnmøre,Southampton,"Los Angeles, California, US",16,NaN,3,Norway
187,"Lines, Mrs. Elizabeth Lindsey (née James)",50,"Paris, France",Cherbourg,"Hanover, New Hampshire, US",9,NaN,1,NaN
404,"Drew, Master Marshall Brines",8,"Greenport, New York, US",Southampton,"Greenport, New York, US",10,NaN,2,NaN
1083,"O'Driscoll, Miss Bridget",24,"Ballydehob, Cork",Queenstown,"Jersey City, New Jersey, US",D,NaN,3,Ireland

In [ ]:
passengers.isnull().sum()

name              16
age                0
hometown          40
boarded            3
destination        1
lifeboat         810
body            1179
pclass             0
home country     604
dtype: int64

In [ ]:
from kgextension.linking_sklearn import DbpediaLookupLinker

linker = DbpediaLookupLinker(column='name')
passengers_extended = linker.fit_transform(passengers)
passengers_extended.head()

DBpedia Lookup Linker: Querying DLL:   0%|          | 0/1312 [00:00<?, ?it/s]

,name,age,hometown,boarded,destination,lifeboat,body,pclass,home country,new_link
0,"Allen, Miss Elizabeth Walton",29,"St Louis, Missouri, US",Southampton,St Louis,NaN,NaN,1,NaN,http://dbpedia.org/resource/Princeton_University
1,"Allison, Mr. Hudson Creighton",30,"Montreal, Quebec, Canada",Southampton,"Montreal, Quebec, Canada",NaN,135MB,1,NaN,http://dbpedia.org/resource/Quebec
2,"and chauffeur, Mr. George Swane[70]",19,NaN,Southampton,"Montreal, Quebec, Canada",NaN,294MB,1,NaN,http://dbpedia.org/resource/World_War_II
3,"and cook, Miss Amelia Mary ""Mildred"" Brown[70]",18,"London, England, UK",Southampton,"Montreal, Quebec, Canada",11,NaN,1,NaN,http://dbpedia.org/resource/World_War_II
4,"Allison, Mrs. Bessie Waldo (née Daniels)",25,"Montreal, Quebec, Canada",Southampton,"Montreal, Quebec, Canada",NaN,NaN,1,NaN,http://dbpedia.org/resource/Parlophone

In [ ]:
# https://kgextension.readthedocs.io/en/latest/source/usage_generators.html#specific-relation-generator
from kgextension.generator_sklearn import SpecificRelationGenerator

generator = SpecificRelationGenerator(columns=['new_link'], direct_relation='http://purl.org/dc/terms/subject')
passengers_extended = generator.fit_transform(passengers_extended)
passengers_extended.head()

Column:   0%|          | 0/1 [00:00<?, ?it/s]

C:\Users\cliff\anaconda3\lib\site-packages\kgextension\sparql_helper.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(query_result)
C:\Users\cliff\anaconda3\lib\site-packages\kgextension\sparql_helper.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(query_result)
C:\Users\cliff\anaconda3\lib\site-packages\kgextension\sparql_helper.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_result = df_result.append(query_result)

,name,age,hometown,boarded,destination,lifeboat,body,pclass,home country,new_link,...,new_link_in_boolean_http://dbpedia.org/resource/Category:Wars_involving_Iceland,new_link_in_boolean_http://dbpedia.org/resource/Category:Wars_involving_Croatia,new_link_in_boolean_http://dbpedia.org/resource/Category:Wars_involving_Finland,new_link_in_boolean_http://dbpedia.org/resource/Category:Wars_involving_Hungary,new_link_in_boolean_http://dbpedia.org/resource/Category:Wars_involving_Serbia,new_link_in_boolean_http://dbpedia.org/resource/Category:Wars_involving_Yugoslavia,new_link_in_boolean_http://dbpedia.org/resource/Category:Wars_involving_Bulgaria,new_link_in_boolean_http://dbpedia.org/resource/Category:World_Wars,new_link_in_boolean_http://dbpedia.org/resource/Category:Wars_involving_Paraguay,new_link_in_boolean_http://dbpedia.org/resource/Category:Wars_involving_Montenegro
0,"Allen, Miss Elizabeth Walton",29,"St Louis, Missouri, US",Southampton,St Louis,NaN,NaN,1,NaN,http://dbpedia.org/resource/Princeton_University,...,False,False,False,False,False,False,False,False,False,False
1,"Allison, Mr. Hudson Creighton",30,"Montreal, Quebec, Canada",Southampton,"Montreal, Quebec, Canada",NaN,135MB,1,NaN,http://dbpedia.org/resource/Quebec,...,False,False,False,False,False,False,False,False,False,False
2,"and chauffeur, Mr. George Swane[70]",19,NaN,Southampton,"Montreal, Quebec, Canada",NaN,294MB,1,NaN,http://dbpedia.org/resource/World_War_II,...,True,True,True,True,True,True,True,True,True,True
3,"and cook, Miss Amelia Mary ""Mildred"" Brown[70]",18,"London, England, UK",Southampton,"Montreal, Quebec, Canada",11,NaN,1,NaN,http://dbpedia.org/resource/World_War_II,...,True,True,True,True,True,True,True,True,True,True
4,"Allison, Mrs. Bessie Waldo (née Daniels)",25,"Montreal, Quebec, Canada",Southampton,"Montreal, Quebec, Canada",NaN,NaN,1,NaN,http://dbpedia.org/resource/Parlophone,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
# col_names = passengers_extended.columns.to_list()
# col_names = [x.replace('new_link_in_boolean_http://dbpedia.org/resource/Category:', '') for x in col_names]
# len(col_names)
# with open(f'Titanic_Passengers_Extended_Categories.txt', 'w') as f:
#     for name in col_names:
#         f.write('%s\n' % name)

In [ ]:
allison = passengers_extended.iloc[4]
print(type(allison))
allison[allison != False]

<class 'pandas.core.series.Series'>

name                                                                                                    Allison, Mrs. Bessie Waldo (née Daniels)
age                                                                                                                                           25
hometown                                                                                                                Montreal, Quebec, Canada
boarded                                                                                                                              Southampton
destination                                                                                                             Montreal, Quebec, Canada
lifeboat                                                                                                                                     NaN
body                                                                                                                                         NaN
pclass                                                                                                                                         1
home country                                                                                                                                 NaN
new_link                                                                                                  http://dbpedia.org/resource/Parlophone
new_link_in_boolean_http://dbpedia.org/resource/Category:Labels_distributed_by_Warner_Music_Group                                           True
new_link_in_boolean_http://dbpedia.org/resource/Category:Warner_Music_labels                                                                True
new_link_in_boolean_http://dbpedia.org/resource/Category:Jazz_record_labels                                                                 True
new_link_in_boolean_http://dbpedia.org/resource/Category:Rock_record_labels                                                                 True
new_link_in_boolean_http://dbpedia.org/resource/Category:British_record_labels                                                              True
new_link_in_boolean_http://dbpedia.org/resource/Category:Labels_distributed_by_Universal_Music_Group                                        True
new_link_in_boolean_http://dbpedia.org/resource/Category:Pop_record_labels                                                                  True
new_link_in_boolean_http://dbpedia.org/resource/Category:1896_establishments_in_Germany                                                     True
new_link_in_boolean_http://dbpedia.org/resource/Category:Electronic_dance_music_record_labels                                               True
new_link_in_boolean_http://dbpedia.org/resource/Category:Parlophone                                                                         True
new_link_in_boolean_http://dbpedia.org/resource/Category:Record_labels_established_in_1896                                                  True
new_link_in_boolean_http://dbpedia.org/resource/Category:EMI                                                                                True
new_link_in_boolean_http://dbpedia.org/resource/Category:German_record_labels                                                               True
new_link_in_boolean_http://dbpedia.org/resource/Category:British_subsidiaries_of_foreign_companies                                          True
Name: 4, dtype: object